*{
    margin: 0px;
    padding: 0px;
}
body {
    background: url(../img/background.gif);
    background-size: 100%;
    overflow: hidden;
}

.print {
    background: url(../img/printButton_big.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 35%;
    margin-top: 10%;
    width: 500px;
    height: 300px;
}

.printIcon_small {
    margin-left: 33%;
    margin-top: 30px;
}

.p_print {
    font-family: "微软雅黑";
    line-height: 60px;
    margin-left: 30%;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none; /*超链接无下划线*/
}

.print_shadow {
    background: url(../img/button2.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 35%;
    margin-top: 1%;
    width: 500px;
    height: 100px;
}

.print_platform {
    background: url(../img/platform.png) no-repeat;
    background-size: 100% 100%;
    margin-left: 28%;
    width: 800px;
    height: 200px;
}

.systemCode {
    width: 100px;
    height: 100px;
    margin: -178px 482px
}

.id_title {
    background-color: #0099ff;
    width: 500px;
    height: 60px;
    margin: 200px 702px;
}

.id_read {
    background-color: white;
    width: 500px;
    height: 300px;
    margin: -200px 702px;
}

.IDRead_01 {
    width: 400px;
    height: 250px;
    margin: 26px 48px;
}

.id_appCode {
    background: url(../img/platform.png) no-repeat;
    background-size: 100% 100%;
    margin: 300px 540px;
    width: 800px;
    height: 200px;
}

.id_photograph {
    margin: -1128px 1235px;
    width: 200px;
    height: 200px;
}

table {
    width: 90%;
    height: auto;
    margin: 200px 100px;
    background-color: white;
}

.td_title {
    text-align: center;
    background-color: #0099ff;
    height: 80px;
}

.td_isChecked {
    text-align: center;
    width: 20%;
}

.p_readID {
    font-family: "微软雅黑";
    line-height: 60px;
    font-size: 30px;
    color: white;
}

.p_td {
    font-family: "微软雅黑";
    line-height: 60px;
    font-size: 30px;
    color: black;
    background-color: #87CEFA;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.p_tdTotal {
    font-family: "微软雅黑";
    line-height: 60px;
    font-size: 30px;
    color: black;
    background-color: #87CEFA;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    margin-left: 295px;
}

.p_tdPrint {
    font-family: "微软雅黑";
    line-height: 60px;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 70px;
}

.p_printNow {
    font-family: "微软雅黑";
    line-height: 60px;
    font-size: 30px;
    color: black;
    position: absolute;
    bottom: 17px;
    left: 135px;
}

.td_total {
    width: 70%;
    height: 100%;
    position: relative;
}

.td_photo {
    width: 20%;
    height: auto;
    float: right;
    position: absolute;
    top: -150px;
    right: -210px;
}

.td_printButton {
    background-color: #1E90FF;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: -250px;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}

.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 33%;
    width: 37%;
    height: 64%;
    padding: 20px;
    z-index: 1002;
    background-color: white;
}
.code{
    display: none;
    position: absolute;
    top: 31%;
    left: 39%;
    width: 300px;
    height: 300px;
    padding: 20px;
    z-index: 1002;
    background-color: white;
}